.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    flex-direction: column;
    background-image:url(https://wallpapers.com/images/hd/red-and-blue-calculators-yxm0myfzuym67431.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;

}
   .output{
    outline: none;
    border: none;
    width: 320px;
    height: 90px;
    font-size: 32px;
    padding:2px 10px ;
    color: white;
    text-align: right;
    background-color: #333333;
    border-top-left-radius:6px ;
    border-top-right-radius: 6px;
    
}
button{
    width: 85px;
    height: 90px;
    font-size: 26px;
    cursor: pointer;
    border: none;
    border-top:1px solid #666 ;
    border-right:1px solid #666 ;
}
.operator{
background-color: burlywood;
}
.fun-key:hover{
background-color: #666;
}
.operator:hover{
    background-color:#D3D3D3;
}
.digit:hover{
    background-color: #666;
}